body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
  }
  
  ol, ul {
    padding-left: 100px;
  }
  
  .board-row {
    height: 12.5%;
    max-height: 100vh;
    max-width: auto;
    width: 100%;
  }

  
  
  .whitesquare {
    background: rgb(177,228,185);
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 100%;
    max-width: 100vw;
    max-height: 12.5vw;
    padding: 0;
    text-align: center;
    width: 12.5%;
  }

  .blacksquare {
    background: rgb(112,162,163);
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 100%;
    max-width: 100vw;
    max-height: 12.5vw;
    padding: 0;
    text-align: center;
    width: 12.5%;
  }
  
  .board {
    border: 1vw solid gray;
    width: 50%;
    height: 50vw;
    position: absolute; /*it can be fixed too*/
    left:0; 
    right: 0;
    top: 0; 
    bottom: 0;
    margin: auto;
    max-width: 80vw;
    max-height: 80vw;
  }

  .square:focus {
    outline: none;
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }
  
  .game {
    display: flex;
    flex-direction: row;
    margin: auto;
  }
  
  .game-info {
    margin-left: 20px;
  }
  